.footer {
    background-color: #343a40;
    color: #adb5bd;
    position: relative;
    bottom: 0;
    width: 100%;

    .footer-link {
        color: #adb5bd;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }

    h4 {
        color: #ffffff;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .footer-bottom {
        background-color: #007bff;
        color: #ffffff;
        line-height: 30px;
    }
}