.todo-item {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.todo-item.completed {
    background-color: #d4edda;
}

.todo-item:not(.completed) {
    background-color: #f8d7da;
}

.user-card {
    transition: transform .2s;
}

.user-card:hover {
    transform: scale(1.03);
}

.card-body ul {
    padding-left: 20px;
}

.todo-item {
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    margin-bottom: 5px;
}

.todo-item.completed {
    background-color: #d4edda;
}

.todo-item.completed:hover {
    background-color: #bae9c5;
}

.todo-item:not(.completed) {
    background-color: #f8d7da;
}

.todo-item:not(.completed):hover {
    background-color: #f8b9be;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    border: 2px solid #1E90FF;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.search-input:focus {
    outline: none;
    border-color: #00BFFF;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.5);
}

.custom-checkbox .real-checkbox {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.custom-box {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-checkbox:hover input~.custom-box {
    background-color: #ccc;
}

.custom-checkbox input:checked~.custom-box {
    background-color: #2196F3;
}

.custom-checkbox input:checked~.custom-box:after {
    content: "";
    position: absolute;
    display: block;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}