<header class="header">
    <div class="container">
        <h1>AngularMovies</h1>
        <nav>
            <ul>
              <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
              <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
              <li *ngIf="isLoggedIn"><a routerLink="/movies-list">Movies</a></li>
              <li *ngIf="isLoggedIn"><a routerLink="/favorites">My Favorites</a></li>
              <li *ngIf="isLoggedIn"><a routerLink="/users-list">Users</a></li>
              <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
            </ul>
          </nav>
    </div>
</header>